{
  "sourceMaps": true,
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": false,
      "modules": false,
      "debug": true,
      "targets": {
        "chrome": "79"
      }
    }]
  ],
  "ignore": ["node_modules"]
}
