@import '@/style_api';
.group-list {
  height: 100%;
  &__group,
  &__title,
  &__list {
    margin: 0;
    padding:0;
  }
  &__content {
    height: calc(100% - 2rem);
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &__group {
    flex: 1 1 40%;
    padding-bottom: getFontSize(s);
    max-height: 100%;
  }

  &__title {
    margin-bottom: getFontSize(s);
  }
  &__title-text {
    background: rgb(206, 13, 13);
    padding: getFontSize(xxs);
    color: white; 
    @include mixAll(button);
    @include mixColor(alert);
    @include mixTypography(menu);
    border-radius: .5em;  
  }

  &__list {
    max-height: calc(100% - #{getFontSize(xl)} - #{getFontSize(xxs)});
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

