// another bunch of colors
$settings_colors: (
  green: #219653,
  red: #EB5757,
  orange: #F59D1A,
  white: #f6f4ea,
  blue: #E6F0FD,
  grey94: hsl(0, 0%, 94%), //#F2F2F2
  grey87: hsl(0, 0%, 87%), //#E0E0E0
  grey75: hsl(0, 0%, 75%), //#C4C4C4 or #BDBDBD
  grey50: hsl(0, 0%, 50%), //#828282
  grey20: hsl(0, 0%, 20%), //#333333
  shadowS: rgba(0, 0, 0, 0.15),
  shadowM: rgba(0, 0, 0, 0.25),
  black: #111312
);
