@import './colors_white';
// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=53P0u0kfTjR7AKFbErqjQd-o-7w */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #3C476B;	// Main Primary color */
$color-primary-1: #A8B3D5;
$color-primary-2: #646F94;
$color-primary-3: #212A49;
$color-primary-4: #0D1328;

$color-secondary-1-0: #4A3C6C;	// Main Secondary color (1) */
$color-secondary-1-1: #B6A9D6;
$color-secondary-1-2: #736596;
$color-secondary-1-3: #2D214A;
$color-secondary-1-4: #150D29;

$color-secondary-2-0: #325A61;	// Main Secondary color (2) */
$color-secondary-2-1: #9EC6CD;
$color-secondary-2-2: #577F87;
$color-secondary-2-3: #1A3C43;
$color-secondary-2-4: #092025;
