// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=21X0u0k1Qo80hHV0Ytv36jt5eeS */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #BEBEB4;	// Main Primary color */
$color-primary-1: #FDFDFB;
$color-primary-2: #E8E9E2;
$color-primary-3: #999A8B;
$color-primary-4: #747562;

$color-complement-0: #7E7980;	// Main Complement color */
$color-complement-1: #CBCACC;
$color-complement-2: #9B989C;
$color-complement-3: #645D67;
$color-complement-4: #4B424F;
