$settings_icons: (
  bandage:url("assets/svg/bandage.svg"),
  caterpillar-machine:url("assets/svg/caterpillar-machine.svg"),
  gear-1:url("assets/svg/gear-1.svg"),
  stats-bars:url("assets/svg/stats-bars.svg"),
  test-tube:url("assets/svg/test-tube.svg"),
);
