@import '../style_api';
#app {
  height: 100%;
}
.app {
  height: 100%;
  @include mixColor(body-1);
  &__theme-click {
    cursor: pointer;
    @include mixColor(primary);
    @include mixHover(primary);
    @include mixTypography(primary);
    @include mixInlineSpace(s);
    text-transform: uppercase;
  }
  &__footer {
    text-align: left;
  }
}
