@mixin mixCircle($size:false) {
  /* mixCircle()  */
  border-radius: 50%;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  align-items: center;
  @if $size {
    @include mixCircleSize($size);
  }
  @else {
    height: 2em;
    width: 2em;
  }
}
@mixin mixCircleSize($size) {
  /* mixCircleSize ($size: #{$size})*/
  $_size: getFontSize($size);
  width: $_size;
  height: $_size;
}

@mixin mixCircleSizeAll($suf: '') {
  @each $sizeName in map-keys($settings_spaces) {
    &#{&+_+$sizeName+$suf} {
        @include mixCircleSize($sizeName);
    }
  }
}
